@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --background-dark: #fefefe;
  --foreground: #171717;

  /* Roseware Palette */
  --brown-red: #a33e3e;
  --smoky-rose: #9b5f6c;
  --yale-blue: #08415c;
  --slate-grey: #6b818c;
  --peach-glow: #f1bf98;
  --charcoal: #323740;
  
  
  --brown-red: #a33e3e;
  --smoky-rose: #9b5f6c;
  --space-indigo: #22223b;
  --parchment: #f2e9e4;
  --silver: #bcb8b1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
